@model Facturacion.Web.Models.Login

@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout_2";
}

    @*<center>*@


        <h1>Login</h1>
        <hr />

        @*<div class="row">*@
<div class="align-content-center">
    <div class="row">
        <div class="col-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Ingresar</a> ||
                    <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Create">Registrarse</a>
                </div>

            </form>
        </div>
    </div>
</div>
            @*</div>*@
    @*</center>*@












