@model Facturacion.Web.Models.Chair

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChairName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChairName)
        </dd>
        <dt>
           Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusOf)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ChairID">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
