@model Facturacion.Web.Models.Clasification

@{
    ViewData["Title"] = "Delete";
}


<h1>¿Seguro que desea eliminar esto?</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Categoría
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClasificationId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Regresar</a>
    </form>
</div>
