@model Facturacion.Web.Models.Currency

@{
    ViewData["Title"] = "Delete";
}

  

<h1>¿Seguro que desea eliminar esto?</h1>
<div>
    <h4>Moneda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exchange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exchange.ExchangeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CurrencyId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Regresar</a>
    </form>
</div>
