@model Facturacion.Web.Models.CustomerType

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar</h2>

<h4>Tipo de cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeCustomer" class="control-label"></label>
                <input asp-for="TypeCustomer" class="form-control" />
                <span asp-validation-for="TypeCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>

