@model Facturacion.Web.Models.CustomerType

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tipo de cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeCustomer)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CTypeId">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
