@model Facturacion.Web.Models.Shipping

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número de mesa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippWay)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusOf)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ShippingId">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
